<h1>
	Choose your category
</h1>

<% if @categories.any? %>
	<ul>
		<% @categories.each do |category| %>
			<li>
				<%= link_to quiz_category_path(quiz_id: params[:id], id: category.id) do %>
					<%= category.title %>
				<% end %>
			</li>
		<% end %>
	</ul>
<% else %>
	<p>No Any Categories</p>
<% end %>
