<div class="mt-30 mx-auto">
  <footer class="text-gray-600 body-font" style="background-color: #03456F;">
    <div class="container px-5 mx-auto flex md:items-center lg:items-start md:flex-row md:flex-nowrap flex-wrap flex-col">

      <div class="w-96 relative flex-shrink-0 md:mx-0 mx-auto text-center md:text-left">
        <div class="text-left py-8 px-10" style="margin-left: -50px; margin-top: -50px; background-color: #008ACF;">
          <%= image_tag "eis-logo-white.svg", class: "h-5/6", style: "margin: 0 auto;" %>
          <ul class="text-white p-2 inline-block">
            <li class="p-2 font-bold">Eesti Interneti Sihtasutus</li>
            <li class="p-2">
            
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
              Paldiski mnt 80, 10617 Tallinn
           
            </li>
            
            <li class="p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            Registrikood: 90010019
            </li>

            <li class="p-2">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207" />
              </svg>
              info@internet.ee
            </li>

            <li class="p-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 inline" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z" />
                </svg>
              727 1000
            </li>
          </ul>
        </div>
      </div>

      <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
        <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-gray-300 tracking-widest text-md mb-3">Abi & info</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/domeenid/ee-domeenireeglid">.ee Domeenireeglid</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/abi-ja-info/kkk">Korduma kippuvad küsimused</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/abi-ja-info/statistika">Statistika</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/domeenivaidlused/domeenivaidluste-komisjon">Domeenivaidluste Komisjon</a>
            </li>
          </nav>
        </div>
        <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-gray-300 tracking-widest text-md mb-3">Registripidajad</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/registripidajad/akrediteeritud-registripidajad">Akrediteeritud registripidajate nimekiri</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/registripidajad/kuidas-saada-ee-akrediteeritud-registripidajaks">Akrediteeritud registripidajaks saamine</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/registripidajad/kuidas-saada-ee-elite-partneriks">"Elite Partner" programm</a>
            </li>
          </nav>
        </div>
        <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-gray-300 tracking-widest text-md mb-3">Meist</h2>
          <nav class="list-none mb-10">
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/eis">Võta meiega ühendust!</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/eis/ulesanded-juhatus-ja-noukogu">Juhtimine</a>
            </li>
            <li>
              <a class="text-gray-400 text-xs hover:text-red-300" href="https://internet.ee/eis/dokumendid">Dokumendid</a>
            </li>
          </nav>
        </div>
        <div class="py-8 lg:w-1/4 md:w-1/2 w-full px-4">
          <h2 class="title-font font-bold text-gray-300 tracking-widest text-md mb-3">Social Links</h2>
          <nav class="list-none mb-10">
            <ul class="inline-flex">
              <li>
                <a href="https://www.facebook.com/EE-748656818569233/">
                  <svg class="h-6 w-6 fill-current text-white mr-6" viewBox="0 0 512 512">
                      <path d="M455.27,32H56.73A24.74,24.74,0,0,0,32,56.73V455.27A24.74,24.74,0,0,0,56.73,480H256V304H202.45V240H256V189c0-57.86,40.13-89.36,91.82-89.36,24.73,0,51.33,1.86,57.51,2.68v60.43H364.15c-28.12,0-33.48,13.3-33.48,32.9V240h67l-8.75,64H330.67V480h124.6A24.74,24.74,0,0,0,480,455.27V56.73A24.74,24.74,0,0,0,455.27,32Z"/>
                  </svg>
                </a>
              </li>

              <li>
                <a href="https://twitter.com/Eesti_Internet">
                  <svg class="h-6 w-6 fill-current text-white mr-6" viewBox="0 0 512 512">
                      <path d="M496,109.5a201.8,201.8,0,0,1-56.55,15.3,97.51,97.51,0,0,0,43.33-53.6,197.74,197.74,0,0,1-62.56,23.5A99.14,99.14,0,0,0,348.31,64c-54.42,0-98.46,43.4-98.46,96.9a93.21,93.21,0,0,0,2.54,22.1,280.7,280.7,0,0,1-203-101.3A95.69,95.69,0,0,0,36,130.4C36,164,53.53,193.7,80,211.1A97.5,97.5,0,0,1,35.22,199v1.2c0,47,34,86.1,79,95a100.76,100.76,0,0,1-25.94,3.4,94.38,94.38,0,0,1-18.51-1.8c12.51,38.5,48.92,66.5,92.05,67.3A199.59,199.59,0,0,1,39.5,405.6,203,203,0,0,1,16,404.2,278.68,278.68,0,0,0,166.74,448c181.36,0,280.44-147.7,280.44-275.8,0-4.2-.11-8.4-.31-12.5A198.48,198.48,0,0,0,496,109.5Z"/>
                  </svg>
                </a>
              </li>
              <li>
                <a href="https://internet.ee/index.rss">
                  <svg class="w-6 h-6 text-white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 5c7.18 0 13 5.82 13 13M6 11a7 7 0 017 7m-6 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </footer>
</div>