<nav class="relative select-none bg-gray-100 lg:flex lg:items-stretch w-full">
  <div class="flex flex-no-shrink items-stretch h-full">
    <div>
      <a href="#" class="flex-no-grow flex-no-shrink relative py-6 px-10 leading-normal text-black no-underline flex items-center hover:bg-grey-dark">Avalik Portaal</a>
    </div>
    <div class="bg-gray-800">
      <a href="#" class="flex-no-grow flex-no-shrink relative py-6 px-10 leading-normal text-white no-underline flex items-center hover:bg-grey-dark font-bold">Rigistripidaja portaal</a>
    </div>

    <button class="block lg:hidden cursor-pointer ml-auto relative w-12 h-12 p-4">
      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z"/></svg>
    </button>
  </div>
  <div class="lg:flex lg:items-stretch lg:flex-no-shrink lg:flex-grow">
    <div class="lg:flex lg:items-stretch lg:justify-end ml-auto">

    	<% if user_signed_in? %>
        <a class="flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-black no-underline flex items-center hover:bg-grey-dark font-bold">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
          </svg>
          <span class="px-3"><%= current_user.username %></span>
        </a>
		    <%= link_to "Logi välja", destroy_user_session_path, method: :delete, class: 'flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-black no-underline flex items-center hover:bg-grey-dark'  %>
      <% else %>
        	<%= link_to "Logi sisse", new_user_session_path, class: 'flex-no-grow flex-no-shrink relative py-2 px-4 leading-normal text-black no-underline flex items-center hover:bg-grey-dark'  %>
      <% end %>
    </div>
  </div>
</nav>
