<h1>Home</h1>

<h2>Quizzes:</h2>
<% if @quizzes.any? %>
	<ul>
		<% @quizzes.each do |quiz| %>
			<li>
			<%= link_to quiz_path(quiz) do %>
				<%= quiz.title %>
			<% end %>
			</li>
		<% end %>
</ul>
<% else %>
	<p>No any quizzes</p>
<% end %>