# Add configuration values here, as shown below.

# Temporary secret key for registry
TEMPORARY_SECRET_KEY: "temporary-secret-key"
BASE_URL: "http://registry:3000"
BASE_REPP_URL: "http://registry:3000"

GET_INFO: "/api/v1/accreditation_center/auth"

# API REQUESTS
GET_CONTACT: "/api/v1/accreditation_center/contacts/"
GET_DOMAIN: "/api/v1/accreditation_center/domains/"
GET_INVOICES: "/api/v1/accreditation_center/invoice_status/"

# REPP REQUESTS
CREATE_DOMAIN: "/repp/v1/domains/"
PUSH_RESULT: "/repp/v1/registrar/accreditation/push_results"

#ACCR_BOT DATA
ACCR_USERNAME: "accr_bot"
ACCR_PASSWORD: "123456"
ACCR_CONTACT_CODE: "1234566:8A125009"
ACCR_REGISTRAR_NAME: "ACCREDITATION EIS"

CLIENT_CERTS_PATH: '/opt/ca/certs/accr_bot.crt.pem'
CLIENT_KEY_PATH:  '/opt/ca/private/client.key'
CLIENT_PASSWORD: '123456'
