<tr>
    <td><%= category.name %></td>
    <td>
        <%= link_to 'Edit', edit_admin_category_path(category) %>
        <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
</tr>
