<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('admin.categories.index.header'), admin_categories_path %></li>
    </ol>
</nav>

<h1><%= t '.header' %></h1>

<%= render 'form', category: @category %>
