<h1>Admin Dashboard</h1>

<h2>List of catories:</h2>

<%= form_with do |form| %>
	<% @categories.each do |category| %>
		<div class="item">
			<%= form.label :category, category.name %>
			<%= form.number_field :category_name_count %>
		</div>
	<% end %>
	<%= form.submit "Save" %>
<% end %>