<% if @questions_answered %>
	<p>Questions was answered</p>
	<%= link_to "To Dashboard", root_path %>
<% else %>
	<div class="flex-centrilize">
		<div class="category-description">
			<h2>Sertifitseerimise test</h2>

			<ul>
				<li>Testi läbimiseks on sul 45 minutit</li>
				<li>Küsimusi on 5</li>
				<li>Küsimustel võib olla mitu õiget vastust</li>
				<li>Küsimuste vahel saab liikuda vasakul asuvas menüüs</li>
				<li>Küsimustele võib vastata ükskõik millises järjekorras</li>
				<li>Kui oled Kõikidele küsimustele vastanud, vajuta vasakul nuppu "Lõpeta test"</li>
				<li>Peale lõpetamist saad kohe kokkuvõtte oma testist, kus saad näha oma tulemust ja küsimuste õigeid vastuseid</li>
				<li>Kui oled valmis vajuta nuppu "alusta test"</li>
			</ul>
	
			<div class="box-button-wrapper">
				<%= link_to "Get started", quiz_question_path(quiz_id: params[:quiz_id], id: @start_id), class: 'actions' %>
				<%= link_to "Cancel", root_path, class: 'actions-red' %>
			</div>
<% end %>
		</div>
	</div>
