<h1>Category</h1>

<% if @questions_answered %>
	<p>Questions was answered</p>
	<%= link_to "To Dashboard", root_path %>
<% else %>
	<%= link_to "Get started", quiz_question_path(quiz_id: params[:quiz_id], id: @start_id) %>
<% end %>
