<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to t('admin.tests.index.header'), admin_tests_path %></li>
    </ol>
</nav>

<h1><%= @test %></h1>
